#chatTab {
	height: 200%;
}

#chatTab .tabBody {
	height: calc(100% - 12px) !important;
}

#chatTab.extended {
	top: -200% !important;
}

#chatLog {
	position: relative;
	top: 20px
	left: 0px;
	width: 100%;
	height: calc(100% - 20px);
	overflow-y: auto;
}

#chatLog p {
	margin: 2px;
	width: calc(100% - 4px);
}

#chatLog span {
	font-weight: bold;
}

#chatEntry {
	position: relative;
	top: 0px;
	left: 0px;
	width: calc(100% - 6px);
	height: 20px;
}
