@import 'loginTab.css';

/*
	Generic CSS rules to help with generic behaviors.
*/
body, html {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: 0px;
	overflow: hidden;
}

canvas {
	position: relative;
	cursor: pointer;
	top: 50%;	
	left: 50%;
	transform: translate(-50%, -50%);
}

.hidden {
	display: none;
}

#mainArea {
	background: #FFBBA4;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: calc(100% - 40px);
	background-image: url("../images/loadingbg.png");
	background-repeat: repeat;
}

/*
	Bottom Bar
*/
#bottomBar {
	position: absolute;
	height: 200px;
	width: 100%;
	bottom: -200px;
	left: 0px;
	z-index: 50;
}

#bottomBar:before {
	content: "";
	position: absolute;
	top: -40px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-image: url("../images/ui/bar-bg.png");
	background-repeat: repeat-x;
}

.barTab {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 25%;
	min-width: 200px;
	height: 100%;
	transition: top 1s ease-in-out, right 1s ease-in;
	z-index: 50;
	background-image:	url("../images/ui/tab-body-bar.png"),
						url("../images/ui/tab-body-bar.png"),
						url("../images/ui/tab-body-bar.png"),
						url("../images/ui/tab-body-bar.png");
	background-position:	0px 0px,
							0px 0px,
							0px bottom,
							right 0px;
	background-repeat:	repeat-x,
						repeat-y,
						repeat-x,
						repeat-y;
}

.barTab.extended {
	top: -100% !important;
	z-index: 10 !important;
}

.barTab.inactive {
	right: -200% !important;
}

/*
	Tab Header
*/

.tabHeader {
	position: absolute;
	top: -42px;
	height: 42px;
	transition: right 1s linear;
	background-image:	url("../images/ui/tab-header-left.png"),
						url("../images/ui/tab-header-right.png");
	background-position:	0px 0px,
							right 0px;
	background-repeat: 	no-repeat,
						no-repeat;
}

.tabHeader::after {
	content:"";
	position: absolute;
	top: 0px;
	left: 42px;
	right: 21px;
	height: 6px;
	background-image: url("../images/ui/tab-header-bar.png");
	background-repeat: repeat-x;
}

.tabHeader::before {
	content:"";
	position: absolute;
	top: 0px;
	left: 42px;
	right: 21px;
	bottom: 0px;
	background: #FFFFFF;
}

.tabHeader p {
	position: relative;
	margin: 8px 25px 2px 45px;
}

.tabBody {
	position: absolute;
	top: 6px;
	height: calc(100% - 12px);
	width: calc(100% - 12px);
	left: 6px;
	background: #FFFFFF;
}

/*
	Loading Screen
*/
#loadingScreen {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-image: url("../images/loadingbg.png");
	transition: top 1s;
}

#loadingScreen > img {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#loadingScreen.doneLoading {
	top: -100%;
}