#playerList {
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

#playerList table {
	width: calc(100% - 8px);
	margin: 4px;
	border-collapse: collapse;	
}

#playerList tr {
	border: 1px solid black;
}

#playerList tr td:first-of-type {
	max-width: 25px;
}

.scoreRank0 {
	background-color: #ffffff;
}

.scoreRank1 {
	background-color: #dfdfdf;
}

.scoreRank2 {
	background-color: #c0c0c0;
}

.scoreRank3 {
	background-color: #dfca5f;
}

.scoreRank4 {
	background-color: #ffd700;
}

.scoreRank5 {
	background-color: #bb9354;
}

.scoreRank6 {
	background-color: #7853a2;
}